
.header {
    padding: 1rem 2rem 0 2rem; 
    display: flex;
    justify-content: space-between;

    div {
        display: flex;
        gap: 1.2rem;
    }

    a {
        text-decoration: none;
        margin: auto 0 auto 0;
    }

    &__logo {
        display: block;
        max-width: 10rem;
    }
}